.container {
  text-align: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-image {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.welcome-text {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #308BF7;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.styled-button {
  margin-bottom: 10px;
}

.session {
  margin: 10px;
}
