
<form [formGroup]="gameForm">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput formControlName="minimumPlayers">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput formControlName="maximumPlayers">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-select formControlName="tags" multiple>
      @for(tag of tagsOptions; track tag) {
        <mat-option [value]="tag.id">{{tag.label}}</mat-option>
      }
    </mat-select>

  </mat-form-field>
  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select formControlName="genre">
      @for(genre of genresOptions; track genre) {
        <mat-option [value]="genre.value">{{genre.label}}</mat-option>
        }
    </mat-select>
  </mat-form-field>
</form>




<button mat-raised-button color="primary" (click)="saveNewGame()">Save new game</button>

<div>
  {{
  gameForm.getRawValue() | json
  }}
</div>


