<div class="title-text" *ngIf="session">
  <h2>Session "{{ session.sessionTitle }}" Details</h2>
</div>
<form [formGroup]="sessionForm" *ngIf="sessionForm" class="session-form">
  <div class="form-field">
    <div class="inline">
      <div>
        <label for="sessionTitle">Session Titel:</label>
        <input id="sessionTitle" class="fullwidthInputs no-focus no-hover" pInputText type="text"
               formControlName="title"
               readonly/>
      </div>
      <div>
        <label for="aktiv">Aktiv:</label>
        <input id="aktiv" class="fullwidthInputs no-focus no-hover" pInputText type="text" formControlName="active"
               readonly>
      </div>
    </div>
  </div>
  <div class="form-field">
    <label for="games">Spiele zum Abstimmen:</label>
    <div id="games" pInputText style="display: flex; gap: 1%;">
      <p-chip *ngFor="let game of sessionForm.get('gameVotes')?.value" [label]="game"/>
    </div>
  </div>
  <div class="form-field">
    <label for="maxPlayer">Maximale Spieleranzahl:</label>
    <input pInputText id="maxPlayer" class="fullwidthInputs no-focus no-hover" formControlName="maxPlayer" readonly>
  </div>
  <div class="form-field">
    <label for="foods">Essen zum Abstimmen:</label>
    <div id="foods" pInputText style="display: flex; gap: 1%;">
      <p-chip *ngFor="let food of sessionForm.get('foodVotes')?.value" [label]="food"/>
    </div>
  </div>
  <div class="form-field">
    <label for="dates">Daten zum Abstimmen:</label>
    <div id="dates" pInputText style="display: flex; gap: 1%;">
      <p-chip *ngFor="let date of sessionForm.get('dateVotes')?.value" [label]="date"/>
    </div>
  </div>
  <div class="form-actions">
    <button mat-raised-button color="primary" (click)="routeToOverview()">Session Bearbeiten</button>
  </div>
  <p-divider type="solid"/>
  <div class="form-field">
    <label for="gameVote">Spiele Abstimmung:</label>
    <div id="gameVote">
      <p-table *ngIf="session" [value]="session.players">
        <ng-template pTemplate="header">
          <tr>
            <th>Spieler</th>
            <th *ngFor="let gameVote of session.gameVotes">
              {{ gameVote.voteoption.title }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
          <tr>
            <td>{{ player.username }}</td>
            <td  [formGroup]="gameVotesVotes" *ngFor="let gameVote of session.gameVotes">
              <p-selectButton [formControlName]="'player' + player.id + 'game' + gameVote.voteoption.id" [options]="voteValueOptions"
                              optionLabel="icon"
                              optionValue="value"
                              (onOptionClick)="voteGame(player,gameVote,$event)">
                <ng-template let-item pTemplate>
                  <i [class]="item.icon"></i>
                </ng-template>
              </p-selectButton>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <button>Spieler hinzufügen</button>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="form-actions">
    <button mat-raised-button color="primary" (click)="routeToOverview()">Ok</button>
  </div>
</form>
