.carousel_content {
  display: flex;
  flex-direction: column;
  margin: 80px;
  gap: 60px;

  .carousel-card_border{
    padding: 15px;
    border: 4px solid #1e88e5;
    border-radius: 5px;
  }


  .carouselItem {
    border: 7px solid #c9d0d2;
    border-radius: 10px;

    .carouselItem-title {
      margin: 30px;
    }
  }

  .createSession_button button {
    margin: 200px;
  }
}


.styled-button {
  background-color: #3f51b5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
