<button mat-raised-button color="primary" class="createSession_button styled-button" routerLink="/createsession">Neue Session erstellen</button>

<div class="carousel_content">
  <div class="carouselItem">
    <h1 class="carouselItem-title">Neue Session</h1>
    <p-carousel [value]="activeSessions" [numVisible]="3" [numScroll]="3" [responsiveOptions]="">
      <ng-template let-activeSessions pTemplate="item">
        <div style="display:flex; justify-content: center">
          <div class="carousel-card_border">
            <div>
              <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                       class="w-6 shadow-2"
                       width="250"></p-image>
            </div>
            <div>
              <h4 class="mb-1">{{ activeSessions?.sessionTitle }}</h4>
              <h6 class="mt-0 mb-3">Max Player: {{ activeSessions?.maxPlayer }}</h6>
              <div class="carousel_button">
                <p-button label="Session löschen" severity="danger" (click)="deleteSession(activeSessions)"></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="carouselItem">
    <h1 class="carouselItem-title">Alte Session</h1>
    <p-carousel [value]="pastSessions" [numVisible]="3" [numScroll]="3" [responsiveOptions]="">
      <ng-template let-pastSessions pTemplate="item">
        <div style="display:flex; justify-content: center">
          <div class="carousel-card_border">
            <div>
              <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                       class="w-6 shadow-2"
                       width="250"></p-image>
            </div>
            <div>
              <h4 class="mb-1">{{ pastSessions?.sessionTitle }}</h4>
              <h6 class="mt-0 mb-3">Max Player: {{ pastSessions?.maxPlayer }}</h6>
              <div class="carousel_button">
                <p-button label="Session löschen" severity="danger" (click)="deleteSession(pastSessions)"></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<p-confirmDialog [closable]="false"></p-confirmDialog>
