<p>game-details works!</p>

<div class="mat-elevation-z4 form_layout">
  <h2>Spiele einsehen und kommentieren</h2>
  <form [formGroup]="gameForm">
    <div class=" form_container">

      <div class="container_0">
        <mat-form-field appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" readonly>
        </mat-form-field>
      </div>

      <div class="container_1">
        <mat-form-field appearance="fill">
          <mat-label>Titel</mat-label>
          <input matInput formControlName="title" readonly>
        </mat-form-field>
      </div>

      <div class="container_2">
        <mat-form-field appearance="fill">
          <mat-label>Spieler minimum</mat-label>
          <input matInput formControlName="minPlayer" readonly>
        </mat-form-field>
      </div>

      <div class="container_3">
        <mat-form-field appearance="fill">
          <mat-label>Spieler maximum</mat-label>
          <input matInput formControlName="maxPlayer" readonly>
        </mat-form-field>
      </div>

      <div class="container_4">
        <mat-form-field appearance="fill">
          <mat-label>Genre</mat-label>
          <input matInput formControlName="genre" readonly>
        </mat-form-field>
      </div>

      <div class="container_5">
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>Tags</mat-label>-->
<!--          <input matInput formControlName="tags" readonly>-->
<!--        </mat-form-field>-->
      </div>
      <div class="container_6">
<!--        image-->
      </div>
      <div class="container_7">
<!--        comment input-->
      </div>
      <div class="container_8">
<!--        comment list-->
      </div>

    </div>
    <div class="button_space">

<!--      <button mat-flat-button color="primary" (click)="navToMainMenu()">OK</button>-->
    </div>
  </form>
</div>
