<div class="collection">
  <div class="collection_header">
    <button mat-raised-button color="primary" routerLink="/creategame">Spiel hinzufügen</button>
    <p-toolbar>
      <input type="text" pInputText placeholder="name filter">
      <input type="text" pInputText placeholder="genre filter">
      <p-chips placeholder="tag filter"/>
      <p-inputNumber mode="decimal" [showButtons]="true" placeholder="min player"/>
      <p-inputNumber mode="decimal" [showButtons]="true" placeholder="max player"/>
    </p-toolbar>
  </div>
  <div class="collection_content">
    @for (game of gameCollection; track game) {
      <mat-card>
        <mat-card-header>
          @if (!game.image) {
            <img mat-card-image src="../../../assets/images/dummy_600x400.png"
                 alt="placeholder image"/>
          }
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>
            <p><span>{{ game.title }}</span>{{ game.genre }}</p>
          </mat-card-title>
          <mat-card-subtitle>
            <p-chip *ngFor="let tag of game.tags">{{ tag.label }}</p-chip>
          </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/editgame/{{game.id}}">Spiel bearbeiten</button>
          <button mat-raised-button color="warn" (click)="deleteGame(game)">Spiel löschen</button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
<p-confirmDialog [closable]="false"></p-confirmDialog>
