<div class="form-page">
  <form [formGroup]="gameForm" *ngIf="gameForm" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" readonly>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Minimum Players:</mat-label>
      <input matInput formControlName="minPlayer" readonly>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Maximum Players:</mat-label>
      <input matInput formControlName="maxPlayer" readonly>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Tags</mat-label>
      <input matInput readonly>
      <li *ngFor="let tag of game?.tags">
        <p-tag value="{{tag.label}}"></p-tag>
      </li>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Genre</mat-label>
      <input matInput formControlName="genre" readonly>
    </mat-form-field>

    <div class="button_space">
      <button mat-flat-button color="primary" (click)="routeToOverview()">OK</button>
    </div>

  </form>
</div>
